.form-label {
    text-align: right;
    padding-right: 10px;
    min-width: 250px;
}

.tab-container {
}

.tab-row {
    display: flex;
    list-style-type: none;
}

.tab {
    border: 2px solid;
    border-radius: 2px;
    padding: 8px;
}

.tab-inactive {
    text-decoration: italic;
}

.tab-active {
    text-decoration: bold;
    background-color: #cccccc;
}

td {
    padding-right: 10px;
}

.status-label {
    padding-right: 8px;
    text-align: right;
}

.status-cell {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
